body {
  font-family: sans-serif;
  overflow-y: scroll;
}

.row {
	padding-top: 20px;
}

.word-bank {
	background-color: #f9f9f9;
	border: solid 1px #DDDDDD;
	color: white;
  padding: 10px;

  h2 {
  	text-align: center;
  }
}

.main-content {
	padding-top: 0;
}

.query-container {
  padding-bottom: 20px;
}

.result-table {
	max-width: 100%;
}

.header h2 {
	display: inline;
}

.query-text {
  display: inline-block;
}

.query-clear {
	background-color: #e4e4e4;
  border: 1px solid #aaa;
  border-radius: 6px;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

	.query-x {
		color: #aaa;

	}

	&:hover {
		cursor: pointer;

		.query-x{
			color: #888;
		}
	}

	&:active {
		background-color: #008CBA;

		h5, span {
			color: white;
		}
	}
}

.animate-table.ng-enter, .animate-table.ng-leave {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.animate-table.ng-enter, .animate-table.ng-leave.ng-leave-active {
  line-height: 0;
  opacity: 0;
}
.animate-table.ng-leave, .animate-table.ng-enter.ng-enter-active {
  line-height: 30px;
  opacity: 1;
}