<div>
	<header></header>


  <div class="row">
    <div class="large-12 columns">
    	<form ng-submit="vm.queryDatabase()">
	      <div class="row collapse">
	        <div class="small-8 columns">
		  			<input ng-model="vm.inputText" type="text" placeholder="Write a word or phrase here"/>
	        </div>
	        <div class="small-4 columns">
		        <ul class=" button-group">
			  			<li><button type="submit">Search</button></li>
			  			<li><button ng-click="vm.clearSearch()">Clear</button></li>
		        </ul>
	        </div>
	      </div>
      </form>
    </div>
  </div>


  <div>

	  <h1>query: <span>{{ vm.query }}</span></h1>

	  <table class="result-table">
	  	<tr>
	  		<th class="result-score">TFIDF Score</th>
	  		<th class="result-website">Website</th>
	  	</tr>
	  	<tr ng-repeat="element in vm.result track by $index">
	  		<td>
	  			<h3>{{ element[0] }}</h1>
	  		</td>
	  		<td>
	  			<a href="{{ element[3] }}" target="_blank">{{ element[2] }}</a>
	  		</td>
	  	</tr>
	  </table>
  </div>
</div>
